@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:#ECEFF4;
}

html, body {
    min-height: 100%;
}

body{
    background:#3B4252;
    background-repeat: no-repeat;
}


p {
    margin: 16px auto;
    line-height: 1.5em;
}

/* Layout & Nav */

/**/
.layout {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    display:grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
}

nav .links{
    display: inline-block;
    text-align: right;
}

nav a{
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}

nav a:hover{
    border-color: #ECEFF4;
}

footer p {
    text-align: center;
    color:#ECEFF4;
    margin: 40px auto;
}